
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
<style>
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 60%;
  margin: auto;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}
</style>
</head>
<body>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark" style="margin:24px 0;">
  <!-- Brand -->
  <a class="navbar-brand" href="#">Dabble</a>

<div class="collapse navbar-collapse" id="navb">

  <!-- Links -->
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" href="#">친구정보</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">지갑</a>
    </li>

    <!-- Dropdown -->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        백서
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">한글</a>
        <a class="dropdown-item" href="#">English</a>
      </div>
    </li>
      </ul>
      <form class="form-inline my-2 my-lg-0" action="/action_page.php">
    <input class="form-control mr-sm-2" type="text" placeholder="Search">
    <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
  </form>
  </div>
</nav>
<br>



<h2>Card</h2>

    <% data.forEach(function( eachData){ %>
    
<div class="card">
  <img src=<%= eachData.profile %> alt="Avatar" style="width:20%">
  <img src=<%= eachData.profile %> alt="Avatar" style="width:5%">
  <img src=<%= eachData.profile %> alt="Avatar" style="width:5%">
  <img src=<%= eachData.profile %> alt="Avatar" style="width:5%">
  <div class="container">
    <h3><b><%= eachData.account %></b></h3> 
    <p><%= eachData.data %></p> 
  </div>
</div>
<br>

    <% }) %>

</body>
</html> 



