<%
	function fnZeroAdd(str){
		return String(str).length==1?"0"+str:str;
	}
	function fnTimeConverter(timestamp){
		  //UTC+9  한국시간 적용
		  // 9시간  / 540분
		  var a = new Date( timestamp+ (540*60*1000) );
		  //var months = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'];
		  var year = a.getFullYear();
		  var month	= fnZeroAdd(a.getMonth()+1 );
		  var date	= fnZeroAdd(a.getDate()    );
		  var hour	= fnZeroAdd(a.getHours()   );
		  var min	= fnZeroAdd(a.getMinutes() );
		  var sec	= fnZeroAdd(a.getSeconds() );
		  //var time = date + ' ' + month + ' ' + year + ' ' + hour + ':' + min + ':' + sec ;
		  
		  var time = year + '-' + month + '-' + date + ' ' 
				  + hour + ':' + min;
		  return time;
	}
	
	function linkify(inputText) {
    		var replacedText, replacePattern1, replacePattern2, replacePattern3;
		
    		//URLs starting with http://, https://, or ftp://
    		replacePattern1 = /(((?<!src=")https?|ftp):\/\/[-A-Z0-9+&@#\/%?=~_|!:,.;]*[-A-Z0-9+&@#\/%=~_|])/gim;
    		replacedText = inputText.replace(replacePattern1, '<a href="$1" target="_blank">$1</a>');
		
    		//URLs starting with "www." (without // before it, or it'd re-link the ones done above).
    		replacePattern2 = /(^|[^\/])(www\.[\S]+(\b|$))/gim;
    		replacedText = replacedText.replace(replacePattern2, '$1<a href="http://$2" target="_blank">$2</a>');
		
    		//Change email addresses to mailto:: links.
    		replacePattern3 = /(([a-zA-Z0-9\-\_\.])+@[a-zA-Z\_]+?(\.[a-zA-Z]{2,6})+)/gim;
    		replacedText = replacedText.replace(replacePattern3, '<a href="mailto:$1">$1</a>');
		
    		return replacedText;
	}
%>

    <% data.forEach(function(eachData,x){ %>
    <%
    let parentId = eachData.parentid == null ? "" :eachData.parentid;
    let btnUpdateVisible = "";
    if(loginInfo.id != data[x].account ){
    	btnUpdateVisible = "display: none;";
    }

    %>
<div class="bootstrap">
<div class="container">

     <div class="card mx-auto mb-4">
     <!--
            <img hspace="20" class="card-img-top img-fluid"  src="https://sg.fiverrcdn.com/photos/98236905/original/e6dacf67c5374ef6cc84941c08d01bae27090310.jpg" alt="Card image cap">
    -->            
            <div class="card-body" >
                <img hspace="5" style="float:left"  margin-right="30px" src=<%= eachData.profile %> class="rounded-circle" alt="Cinque Terre" width="60" height="60">
		
                <h4 class="card-text">
		<%= eachData.account %><i id="loading" class="fas fa-star" style="color:green"></i>
		
		</h4>
                <p class="card-text"><small class="text-muted"><%=fnTimeConverter(eachData.date)%></small></p>
		
                <br>

                <p class="card-text" name="viewDefault" onClick="javascript:fnContentDetailPopup('<%=x%>')"><%- linkify((eachData.data.replace(/(?:\r\n|\r|\n)/g, '<br>')).replace(/<img/g, '<br><img class="img-fluid"')) %></p>
                <hr>

                
                
                <button class="btn btn-light btn-sm" onClick="javascript:gfContentVoteAction('<%=eachData.id%>');">좋아요</a>
		<div id="voteCount">2</a>
                <!--<a href="#" class="btn btn-light btn-sm">펼쳐보기</a>-->
                <button class="btn btn-light btn-sm" style=" <%=btnUpdateVisible%>" <%=onClick="javascript:gfContentUpdate('<%=x%>');">수정</a>
                <button class="btn btn-light btn-sm" onClick="javascript:fnLoginChkContentDetailAction(0, '<%=x%>');">댓글</a>
            </div>
        </div>
</div>

</div>

		<input type="hidden" name="hBoardId" value="<%=eachData.id%>" >
		<input type="hidden" name="hBoardParentId" value="<%=parentId%>" >
		<input type="hidden" name="hVoteCnt" value="<%=eachData.voting%>" >
		<input type="hidden" name="hAccount" value="<%=eachData.account%>" >
<br>

    <% }) %>
    
    <a href="#" class="btn btn-light btn-sm">Load More</a>




